body{
    font-family: sans-serif;
}

/* Mobile First */
.product-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.product-card{
    border: 1px solid #ddd;
    padding: 18px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}

.product-card img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}

.product-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-info h3{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.price{
    color: #5e558a;
    font-weight: bold;
    font-size: 18px;
}

.description{
    color: #666;
    font-size: 14px;
    margin: 0;
}

.buttons{
    display: flex;
    gap: 10px;
    margin-top: auto;
}

.secondary{
    flex: 1;
    padding: 10px;
    border: 2px solid #5e558a;
    background: transparent;
    color: #5e558a;
    border-radius: 6px;
    cursor: pointer;
}

.primary{
    flex: 1;
    padding: 10px;
    background: #5e558a;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

@media(min-width: 600px){
    .product-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1024px){
    .product-container{
        grid-template-columns: repeat(3, 1fr);
    }
}